.Tag {
  height: 24px;
  background-color: var(--tag-background);
  border-radius: 12px;
  padding: 0 16px;
  color: var(--text-light);
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  margin-right: 10px;
}