.Home {
  text-align: center;

  &__filters {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__heroSearch {
    font-size: 24px;
  }

  &__cardList{
    max-width: 1440px;
    margin: 0 auto;
  }

  &__cardListWrapper{
    background-color: var(--background-dark);
    width: 100%;
  }
}
